* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /*border: solid red 0px;*/
}

body {
    background-color: rgb(38, 38, 38);
    background-image: url(/images/bg.png);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* Header y nav */
#fondo_cabecera {
    position: sticky;
    top: 11px;
    margin-top: .7em;
    box-sizing: border-box;
    z-index: 5;
    margin-top: .7em;
    margin-left: 1em;
    margin-right: 1em;
}

header {
    background-color: white;
    background-image: url(/images/bg.png);
    height: 3em;
    border-radius: 10px;
    padding-left: 2em;
    padding-right: 2em;
    position: sticky;
    top: 11px;
    margin-top: .7em;
    margin-left: 1em;
    margin-right: 1em;
    box-sizing: border-box;
    z-index: 10;
    box-shadow: 0em 0em 1em black;
    margin: auto auto;
    max-width: 2120px;
}

header img {
    position: relative;
    top: 0%;
    height: 100%;
    float: left;
}

header img:hover {
    filter: drop-shadow(1px 1px 3em black);
}

nav {
    position: relative;
    padding-top: 1em;
    right: 10px;
    float: right;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #323232;
    text-decoration: none;
    text-shadow: 0em 0em 3em black;
    filter: blur(.15px);

}

nav li {
    font-size: 100%;
    list-style-type: none;
    position: relative;
    float: left;
    padding-left: .5em;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background: #f5f5f5;
    background-image: url(/images/bg.png);
    padding: 0.7em;
    border-radius: 10px;
}

nav ul ul li {
    float:none;
}

nav ul ul a {
    line-height: 150%;
    padding: 10px 15px;
}

nav ul li:hover > ul {
    display:block;
}

/* main */

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    max-width: 2120px;
    margin: 1em auto;
}

/* article */

article {
    background-color: white;
    background-image: url(/images/bg.png);
    border-radius: 10px;
    width: 25em;
    height: 10em;
    margin: 1em;
    z-index: 1;
    transform: scale(1.0);
    transition: transform .2s ease-in-out;

}

article:hover{
    transform: scale(1.02);
    transition: transform .1s ease-in-out;
}

article img {
    width: 10em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    float: left;
    position: absolute;
    z-index: 2;

}

article h3 {
    float: right;
    position: absolute;
    padding-top: .6em;
    padding-left: 9em;
}

article p {
    float: right;
    position: absolute;
    text-align: justify;
    font-size: 75%;
    width: 32em;
    padding-left: 15em;
    padding-top: 3.3em;
}

article i {
    color: black;
    z-index: 10;
    position: relative;
    float: right;
    top: 80%;
    right: 1%;
}

article i:hover {
    filter: drop-shadow(1px 1px 1em black);
    filter: blur(0.9px)
}

/* section */
section.popup {
    width: 100%;
}

div.aviso {
    display: block;
    background-color: red;
    padding: .5em;
    padding-bottom: 1em;
    height: 2em;
    width: 100%;
    max-width: unset;
    margin-top: .7em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 10px;
    z-index: 0;
}

div.aviso h3 {
    display: inline;
    width: 100%;
    height: 100%;
    padding-left: 1em;
}

div.aviso a {
    float: right;
    height: 100%;
    
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label{
    color: rgba(0, 0, 0, 0.40);
    position: absolute;
    float: left;
    font-size: 1.17em;
    margin-left: 1.3em;
    margin-top: -.5em;
    padding-right: 1em;
    z-index: 5;
}

input[type=checkbox]:checked~div.aviso {
    display: none;
}

input[type=checkbox]:checked~label.cerrar{
    display: none;
}

section.popup {
    background-color: transparent;
    background-image: none;
}

input[type=checkbox]:checked {
    display: none;
}

section {
    background-color: white;
    background-image: url(/images/bg.png);
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin: 1.3em;
    z-index: 1;
    max-width: 1300px;
}

section h2.en_imagen {
    float: right;
    position: absolute;
    padding-top: 8em;
    padding-left: 1em;
    font-size: 2.2em;
    z-index: 5;
    text-shadow: 1px 1px 0.2em white;
  }

  section h2.no_imagen {
    float: right;
    position: absolute;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 2.2em;
    z-index: 5;

  }

section.full {
    height: auto;
}

section > p {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .5em;
    text-align: justify;
}

#confondo{
    background-color: #f2ff00;
}

#shcomentario{
    color: rgb(44, 160, 44);
}

#shcomando{
    color: rgb(237, 247, 149);
}

#shcomillas{
    color: rgb(245, 66, 1);
}

#shvariable{
    color: rgb(1, 245, 151);
}

section.fullForm {
    width: 30%;
}

section > code {
    display: block;
    margin-left: 7em;
    margin-right: 7em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #000000CE;
    color: white;
    border-radius: 5px;
    text-transform: lowercase;
}

section > blockquote {
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-left: #000000 2px solid;
    padding: 0.5em;
    line-height: 0.95;
    background-color: #00000035;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: justify;
    font-style: italic;
}

section img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height:22em;
    padding: 4px;
    object-fit:cover;
    filter: blur(5px);
    padding-bottom: 1.5em;
}

section table {
    margin-bottom: 2em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

section form.primero {
    padding-top: 6em;
    padding: 2em;
    margin: 4em;
}

section form {
    padding: 2em;
    margin: 4em;
}

section a p {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: bolder;
    letter-spacing: .5em;
    transform: scale(1);
    transition: transform 1s ease-in-out;
}
section a {
    color: black;
    text-decoration: none;
}

section a p:hover {
    transform: scale(1.05);
    letter-spacing: .5em;
    transition: transform 1s ease-in-out;
}

table, td,th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
    
}

 tr:hover {
    background-color: #0000005F;
}

section > ul {
    padding-left: 4em;
    padding-top: 1em;
    list-style-image: url(/images/tick.png);
}

/* footer */

footer {
    background-color: white;
    background-image: url(/images/bg.png);
    position: static;
    bottom: 0%;
    width: 100%;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

footer li {
    list-style-type: none;
    float: left;
    padding-left: 1em;
    margin: 1em;
}

footer img {
    width: 1.5em;
}

footer img:hover {
    width: 1.5em;
    filter: drop-shadow(1px 1px 1em black);
    filter: invert(20%);
    filter: blur(.2px);

}

small.passwdhint {
    display: none;
    background-color: #58000038;
    width: 30%;
    float: right;
    left: 35%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: .3em;
    position: absolute;
    top: 9.7%;
    z-index: 7;
    padding-top: 1em;
    border-bottom: red 2px solid;
}

input#contraseña:invalid + small.passwdhint {
    display: block;
}

.cuadronormal:valid{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #0000003f;
    border-radius: 5px;
    transition: border-color .1s ease-in-out;
    width: 100%;
    height: 2em;
    background-color: #00000011;
    transition: background-color .1s ease-in-out;
    z-index: 5;
    padding: .5em;
}

.cuadronormal:focus {
    outline: none;
    border-color: #000000af;
    transition: border-color background-color .2s ease-in-out;
}

.cuadronormal:invalid {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: red;
    background-color: #58000038;
    transition: border-color background-color .2s ease-in-out;
    border-radius: 5px;
    width: 100%;
    height: 2em;
    z-index: 5;
    padding: .5em;
}

.cuadropq:valid { 
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #00000031;
    border-radius: 5px;
    width: 12%;
    height: 2em;
    background-color: #00000011;
    transition: border-color background-color .2s ease-in-out;
    padding: .5em;
}


.cuadropq:focus {
    outline: none;
    border-color: #000000af;
    transition: border-color background-color .2s ease-in-out;
}

.cuadropq:invalid {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: red;
    border-radius: 5px;
    background-color: #58000038;
    transition: border-color background-color .2s ease-in-out;
    width: 12%;
    height: 2em;
    padding: .5em;
}

.selectorForm {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #00000031;
    border-radius: 5px;
    width: 16%;
    height: 2em;
    background-color: #00000011;
    transition: border-color background-color .2s ease-in-out;
    padding: .2em;
}

.cuadromediano:valid{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #0000003f;
    border-radius: 5px;
    transition: border-color .1s ease-in-out;
    width: 50%;
    height: 2em;
    background-color: #00000011;
    transition: background-color .1s ease-in-out;
    z-index: 5;
    padding: .5em;
}

.cuadromediano:focus {
    outline: none;
    border-color: #000000af;
    transition: border-color background-color .2s ease-in-out;
}

.cuadromediano:invalid {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: red;
    background-color: #58000038;
    transition: border-color background-color .2s ease-in-out;
    border-radius: 5px;
    width: 50%;
    height: 2em;
    z-index: 5;
    padding: .5em;
}

label {
    display: block;
    padding-top: 1em;
}

h4 {
    display: block;
    padding-top: 1em;
    font-size: 20px;
}

#mensaje{
    border-color: #000000af;
    border-radius: 10px;
    transition: border-color .2s ease-in-out;
    width: 50%;
    height: 10em;
}

#enviar{
    border-color: #000000af;
    border-radius: 10px;
    transition: border-color .2s ease-in-out;
    width: 50%;
    height: 3em;
    display: block;
}

input:focus, input:hover{
    border-color: #00ffea86;
    transition: border-color .1s ease-in-out;
}
